<h2>Lista de Categorias</h2>
<hr>
<a href="/admin/categorias/add">
<button class="btn btn-success">Nova Categoria</button>
</a>

{{#each categorias}}
    <div class="card mt-2">
        <div class="card-body mt-2">
            <h4>Nome: {{nome}}</h4>
            <small>Slug: {{slug}}</small> <br>
            <small>Data: {{date}}</small>
            <a href="/admin/categorias/edit/{{_id}}"><br>
                <button class="btn btn-success mt-2">Editar Categoria</button></a>
            <form action="/admin/categorias/deletar" method = "POST">
                <input type="hidden" name="id" value="{{_id}}">
                <button type="submit" class="btn btn-danger mt-2">Apagar Categoria</button>
            </form>
        </div>
    </div>
{{else}}
<h4 class="mt-4">Nenhuma categoria registrada!</h4>
{{/each}}